extends layout

block content
  h1 Welcome To Mr. Twooper
  p Michael Party Huey Brings The Fucking Party.
  p In honor of his partyness, if you hit the start button it will stream tweets about MN for 20 seconds
  button#start LAND OF A THOUSAND LAKES
  div#tweets