body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.feed-container{
    padding: 20px;
    border: 1px solid #e2e2e2;
    font-family: serif;
    font-size: 22px;
}
.filter-container{
  padding: 20px;
  border: 1px solid #e2e2e2;
  font-family: serif;
  font-size: 22px;
}